{{define "manage-header"}}

	<div id="header" class="wrap">

		<div class="help">
			<a href="/indexSelect"><button>返回前台页面</button></a>
		</div>
			<a href="/indexSelect"><button>首页</button></a>
	</div>
	<div id="childNav">
		<div class="welcome wrap">管理员{{.Id}}您好，欢迎回到管理后台。</div>
	</div>

{{end}}