{{define "manage-menu-box"}}

<div class="box">
    <dl>
        <dt>用户管理</dt>
        <dd>
            <em><a href="userAddPage">新增</a></em><a href="user">用户管理</a>
        </dd>
        <dt>商品信息</dt>
        <dd>
            <em><a href="productClassAdd">新增</a></em><a href="productClass">分类管理</a>
        </dd>
        <dd>
            <em><a href="productAdd">新增</a></em><a href="productSelect">商品管理</a>
        </dd>
        <dt>订单管理</dt>
        <dd>
            <a href="ordersel">订单管理</a>
        </dd>
        <dt>留言管理</dt>
        <dd>
            <a href="SelManage">留言管理</a>
        </dd>
    </dl>
</div>

{{end}}