<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理-商城</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script type="text/javascript" src="../scripts/function-manage.js"></script>
</head>
<body>
	{{template "manage-header" .name}}
	<div id="position" class="wrap">
		您现在的位置：<a href="index.jsp">商城</a> &gt; 管理后台
	</div>
	<div id="main" class="wrap">
		<div id="menu-mng" class="lefter">
			{{template "manage-menu-box" }}
		</div>
		<div class="main">
			<h2>修改商品分类</h2>
			<div class="manage">
				<form action="doProductClassUpdate">
					<table class="form">
						<tr>
							<td class="field">父分类：</td>
							<td><input type="hidden" name="id" value="{{.epc.Id}}" />
								<select name="parentId">
									<option value="0">零食</option>
									{{range $i,$v := .epclist}}
									    {{if eq $v.ParentId 0}}
									        {{if eq $.epc.ParentId $v.Id}}
									        <option value="{{$v.Id}}" selected="selected">{{$v.Name}}</option>
									        {{else}}
									        <option value="{{$v.Id}}">{{$v.Name}}</option>
									        {{end}}
									    {{end}}
									{{end}}
							</select></td>
						</tr>
						<tr>
							<td class="field">分类名称：</td>
							<td><input type="text" class="text" name="className"
								value="{{.epc.Name}}" /></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td><label class="ui-blue"><input type="submit"
									name="submit" value="提交" /></label></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</body>
</html>

