<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理-商城</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script type="text/javascript" src="/scripts/function-manage.js"></script>
<script type="text/javascript" src="/scripts/calendar.js"></script>
</head>
<body>
    {{template "manage-header" .name}}
	<div id="position" class="wrap">
		您现在的位置：<a href="/index">商城</a> &gt; 管理后台
	</div>
	<div id="main" class="wrap">
		<div id="menu-mng" class="lefter">
			{{template "manage-menu-box"}}
		</div>
		<div class="main">
			<h2>修改用户</h2>
			<div class="manage">
				<form action="userdoupdate">
					<table class="form">
						<tr>
							<td class="field">用户名：</td>
							<td><input type="text" class="text" name="userName"
								value="{{.user.Id}}" readonly="readonly" /></td>
						</tr>
						<tr>
							<td class="field">用户类型：</td>
							<td><input type="text" class="text" name="name"
								value="{{.user.UserName}}" /></td>
						</tr>
						<tr>
							<td class="field">密码：</td>
							<td><input type="text" class="text" name="passWord"
								value="{{.user.Password}}" /></td>
						</tr>
						<tr>
							<td class="field">性别：</td>
							<td>
							    {{if eq .user.Sex "男"}}
							    <input type="radio" name="sex" value="男" checked />男
                                <input type="radio" name="sex" value="女" />女
							    {{else}}
							    <input type="radio" name="sex" value="男" />男
                                <input type="radio" name="sex" value="女" checked />女
							    {{end}}
							</td>
						</tr>
						<tr>
							<td class="field">出生日期：</td>
							<td><input type="text" name="birthday"
								onfocus="c.showMoreDay = false;c.show(this);"
								value="{{.user.Birthday}}" readonly="readonly" /></td>
						</tr>
						<tr>
							<td class="field">邮箱：</td>
							<td><input type="text" class="text" name="email"
								value="{{.user.Email}}" /></td>
						</tr>
						<tr>
							<td class="field">手机号码：</td>
							<td><input type="text" class="text" name="mobile"
								value="{{.user.Mobile}}" /></td>
						</tr>
						<tr>
							<td class="field">送货地址：</td>
							<td><input type="text" class="text" name="address"
								value="{{.user.Address}}" /></td>
						</tr>

						<tr>
							<td></td>
							<td><label class="ui-blue"><input type="submit"
									name="submit" value="更新" /></label></td>
						</tr>

					</table>
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</body>
</html>
